# Python caches
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
jasonwellnessenv/
web3wellnessenv/
env/
venv/

# Logs and database
*.log
*.sqlite3

# Ignore nested git repo
jason_wellness/keepwalkingpython/
