 {% load static %}
<section class="mid-section dashboard">
     <div class="container">
       <div class="row">
         <div class="col-lg-3">
           <div class="inner-page-bg text-center">
               <h2>Available Tokens</h2>
               <hr>
                 <div class="available-tokens">
                  
                     <h3>0.0000000 <span>VRT</span></h3>

                     <h4>Current rate:</h4>
                     <p>1 NKT = 2.55000000 ETH</p>
                     <div class="token-btn mt-5">
                       <a href="" class="btn btn-outline1 btn-xl hvr-float-shadow">Buy Token</a>
                     </div> 
           </div> 
           </div> 

         </div>   
         <div class="col-lg-6 pl-0 pr-0">
           <div class="inner-page-bg">
               <h2>Settings</h2>
               <hr>
                <div class="row">
                    <div class="col-lg-6 border-right">
                       <div class="settings-sec">
                           <h4>User Name</h4>
                     <p></p>
                       </div> 
                         <div class="settings-sec">
                           <h4>Email Address</h4>
                     <p></p>
                       </div>
                       <div class="settings-sec">
                           <h4>Country</h4>
                     <p>Gibraltar</p>
                       </div>
                       <div class="text-left mt-4 settings-sec">
                         <a href="" class="btn btn-outline btn-xl hvr-float-shadow">Edit Profile</a>
                       </div> 
                    </div>
                    <div class="col-lg-6">
                       <div class="twofactor text-center">
                           <p>2 Factor Authentication</p>
                             <img src="img/2ft.png" class="img-fluid">
                             <div class="text-center mt-2">
                             <a href=""><img src="img/close-img.png" class="img-fluid"></a>
                               </div>
                               <div class="text-center mt-3 settings-sec">
                         <a href="" class="btn btn-outline btn-xl hvr-float-shadow">Disable</a>
                       </div> 
                       </div> 
                    </div>
                </div>  
           
         
           </div> 

         </div>
          <div class="col-lg-3">
           <div class="inner-page-bg">
               <h2>Ethereum wallet</h2>
               <hr>
                 <div class="eth-wallet text-center">
                   <img src="img/eth-walleyt.png" class="img-fluid mt-3">
                     <h4>Your Ethereum wallet</h4>
                        <p>0x749d0c737012f33c5bcc71c26c534710dbda7a69</p>
                       <div class="text-center mt-3 settings-sec">
                         <a href="" class="btn btn-outline btn-xl hvr-float-shadow">Copy</a>
                       </div>  
           </div> 
           </div> 

         </div>    
       </div> 
       <div class="row mt-3">
          <div class="col-lg-6 pr-2">
              <div class="inner-page-bg">
               <h2>Your vernon Token Sale ETH receiving wallet</h2>
               <hr>
               <div class="row">
               <div class="col-lg-9">
                  <div class="wallet-eth mt-3">
                     <p>0x749d0c737012f33c5bcc71c26c534710dbda7a69</p>
                     <div class="text-left mt-1 settings-sec">
                         <a href="" class="btn btn-outline btn-xl hvr-float-shadow">Copy</a>
                       </div> 
                  </div>  
               </div>
               <div class="col-lg-3 mt-2">
                 <div class="text-center qr-code-img">
                   <img src="img/qr-code.png" class="img-fluid">
                   <p>Dashboard</p>
                 </div> 
               </div>
             </div>
              </div> 
           </div> 
           <div class="col-lg-6 pl-2">
                   <div class="inner-page-bg token-processing-bar">
                    <ul class="progress-info text-center">
                      <li class="">0.00000000 VRT</li>
                      <li class="">1 ETH = 2.55 VRT</li>
 <li class="">1000000 VRT</li>
                    </ul>

                <div class="ProgressSteps-wrapper step-3 mb-2">
    <ol class="ProgressSteps ">
      <li class="ProgressSteps-step step-1 is-complete">
        <svg class="ProgressSteps-icon "><use xlink:href="#checkmark-bold"/></svg>
      </li>
      <li class="ProgressSteps-step step-2 is-complete">
        <svg class="ProgressSteps-icon"><use xlink:href="#checkmark-bold"/></svg>
      </li>
      <li class="ProgressSteps-step step-3 is-current">
        <svg class="ProgressSteps-icon"><use xlink:href="#checkmark-bold"/></svg>
      </li>
      <li class="ProgressSteps-step step-4">
        <svg class="ProgressSteps-icon"><use xlink:href="#checkmark-bold"/></svg>
      </li>
      <li class="ProgressSteps-step step-5">
        <svg class="ProgressSteps-icon"><use xlink:href="#checkmark-bold"/></svg>
      </li>
        <li class="ProgressSteps-step step-6">
        <svg class="ProgressSteps-icon"><use xlink:href="#checkmark-bold"/></svg>
      </li>
        <li class="ProgressSteps-step step-7">
        <svg class="ProgressSteps-icon"><use xlink:href="#checkmark-bold"/></svg>
      </li>
      <li class="ProgressSteps-step step-8">
        <svg class="ProgressSteps-icon"><use xlink:href="#checkmark-bold"/></svg>
      </li>
        <li class="ProgressSteps-step step-9">
        <svg class="ProgressSteps-icon"><use xlink:href="#checkmark-bold"/></svg>
      </li>
      <li class="ProgressSteps-step step-10">
        <svg class="ProgressSteps-icon"><use xlink:href="#checkmark-bold"/></svg>
      </li>
       <li class="ProgressSteps-step step-11">
        <svg class="ProgressSteps-icon"><use xlink:href="#checkmark-bold"/></svg>
      </li>
       <li class="ProgressSteps-step step-12">
        <svg class="ProgressSteps-icon"><use xlink:href="#checkmark-bold"/></svg>
      </li>
       <li class="ProgressSteps-step step-13">
        <svg class="ProgressSteps-icon"><use xlink:href="#checkmark-bold"/></svg>
      </li>
    </ol>
    <div class="ProgressSteps-bar"></div>
  </div>
                       <ul class="progress-info text-center">
                      <li class="">Soft cap</li>
                      <li class="">Hard Cap</li>
                    </ul>

                        <div class="row justify-content-end">
                           <div class="col-lg-4 text-center">
                             <div class="progress-bar-sec hvr-float-shadow">
                               <img src="img/play.png" class="img-fluid">
                               <h4>Watch Video</h4>
                           </div> 
                        </div>  
                         <div class="col-lg-4 text-center">
                             <div class="progress-bar-sec text-center hvr-float-shadow">
                                <img src="img/whitepapper.png" class="img-fluid">
                               <h4>WhitePaper</h4>
                           </div> 
                        </div>  
                         <div class="col-lg-4 text-center">
                             <div class="progress-bar-sec text-center hvr-float-shadow">
                                <img src="img/roadmap.png" class="img-fluid">
                               <h4>Roadmap</h4>
                           </div> 
                        </div>  
                   </div> 
              </div> 
           </div> 
       </div> 
         <div class="row mt-3">
          <div class="col-lg-12">
              <div class="inner-page-bg login-table">
                  <div class="d-flex justify-content-between">
                     <h2>Login details</h2>

                             
                                  <form>
                <div class="row justify-content-end">
                  
                   <div class="form-group mr-2">
                     
                      <input type="" name="" class="form-control2 float-right" placeholder="search">
                   </div> 
                    <div class="form-group form-inline mr-2">
                     <label class="">Show</label>
                     <select class="form-control">
                       <option>5</option>
                       <option>10</option>
                       <option>15</option>
                       <option>20</option>
                       <option>25</option>
                     </select>
                     Entries
                   </div> 
                </div>  
              </form>
                 </div>
               <hr>
               <div class="trans-hist-table">
   
              <div class="depoit-table-hst table-responsive">
                 <table class="table table-hover">
  <thead>
    <tr>
      <th>Date / Time</th>
      <th>Ip address</th>
      <th>Location</th>
      <th  class="text-center">Browser name</th>
      <th>Activity</th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2019-06-29 10:38:11</td>
      <td>117.254.189.115</td>
      <td>Kandukur,Telangana,India</td>
      <td class="text-center"><img class="img-fluid" src="img/chrome.png"></td>
      <td>Login</td>
    
    </tr>
    <tr>
      <td>2019-06-29 10:38:11</td>
      <td>117.254.189.115</td>
      <td>Kandukur,Telangana,India</td>
      <td class="text-center"><img class="img-fluid" src="img/mozilla.png"></td>
      <td>Login</td>
    
    </tr>
      <tr>
      <td>2019-06-29 10:38:11</td>
      <td>117.254.189.115</td>
      <td>Kandukur,Telangana,India</td>
      <td class="text-center"><img class="img-fluid" src="img/chrome.png"></td>
      <td>Login</td>
    
    </tr>
      <tr>
      <td>2019-06-29 10:38:11</td>
      <td>117.254.189.115</td>
      <td>Kandukur,Telangana,India</td>
      <td class="text-center"><img class="img-fluid" src="img/opera.png"></td>
      <td>Login</td>
    
    </tr>
      <tr>
      <td>2019-06-29 10:38:11</td>
      <td>117.254.189.115</td>
      <td>Kandukur,Telangana,India</td>
      <td class="text-center"><img class="img-fluid" src="img/chrome.png"></td>
      <td>Login</td>
    
    </tr>
  
  </tbody>
</table>
              </div>  
             </div>
               </div>
           </div>
         </div>       
     </div> 
  </section>